USE [dbdff3ef065cc44b009f7ba7ab00751cbc]
GO
/****** Object:  Table [dbo].[addToCart]    Script Date: 7/30/2017 1:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[addToCart](
	[cartID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_addToCart] PRIMARY KEY CLUSTERED 
(
	[cartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bill_To]    Script Date: 7/30/2017 1:57:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bill_To](
	[BillNo] [int] IDENTITY(1,1) NOT NULL,
	[Display_Name] [varchar](50) NULL,
	[User_Name] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[confirm_password] [varchar](50) NULL,
	[Company_Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Title] [varchar](50) NULL,
	[First_Name] [varchar](50) NULL,
	[Middle_Name] [varchar](50) NULL,
	[Last_Name] [varchar](50) NULL,
	[Address_1] [varchar](50) NULL,
	[Address_2] [varchar](50) NULL,
	[Zip] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Phone1] [varchar](50) NULL,
	[Phone2] [varchar](50) NULL,
	[Mobile_Phone] [varchar](50) NULL,
	[Fax] [varchar](50) NULL,
	[message] [varchar](50) NULL,
	[Shipping] [varchar](50) NULL,
	[UserID] [int] NULL,
	[Total] [int] NULL,
 CONSTRAINT [PK_Bill_To] PRIMARY KEY CLUSTERED 
(
	[BillNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cart]    Script Date: 7/30/2017 1:57:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cart](
	[user_option] [varchar](50) NULL,
	[single_fieldCountry] [varchar](50) NULL,
	[single_field_Region] [varchar](50) NULL,
	[Zip_Code] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 7/30/2017 1:57:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ProductID] [int] NULL,
	[CommentText] [varchar](50) NULL,
	[CommentOn] [date] NULL,
	[UserName] [varchar](50) NULL,
	[PictureName] [varchar](50) NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[contact_us]    Script Date: 7/30/2017 1:57:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[contact_us](
	[name] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[subject] [varchar](50) NULL,
	[message] [varchar](50) NULL,
	[Contact_Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_contact_us] PRIMARY KEY CLUSTERED 
(
	[Contact_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Document]    Script Date: 7/30/2017 1:57:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Document](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Size] [bigint] NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[FileContent] [varchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreadtedOn] [datetime] NOT NULL,
	[ModifieadOn] [datetime] NULL,
 CONSTRAINT [PK_Document] PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 7/30/2017 1:57:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[feedback](
	[email] [varchar](50) NULL,
	[message] [varchar](50) NULL,
	[Feedback_no] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_feedback] PRIMARY KEY CLUSTERED 
(
	[Feedback_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Images]    Script Date: 7/30/2017 1:57:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Images](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [varchar](50) NOT NULL,
	[ImageAlt] [varchar](50) NULL,
	[ImageData] [varchar](50) NOT NULL,
	[ContentType] [varchar](50) NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[login_form]    Script Date: 7/30/2017 1:57:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[login_form](
	[name] [varchar](50) NULL,
	[Email_Address] [varchar](50) NULL,
	[checkbox_name] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MappingsTable]    Script Date: 7/30/2017 1:57:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MappingsTable](
	[MappingId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[ProductID] [int] NULL,
	[AddToCart] [bit] NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK_MappingsTable] PRIMARY KEY CLUSTERED 
(
	[MappingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[product_details]    Script Date: 7/30/2017 1:57:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[product_details](
	[name] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[textarea_text] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product1]    Script Date: 7/30/2017 1:57:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product1](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Price] [int] NULL,
	[PictureName] [varchar](max) NULL,
	[CreatedOn] [date] NULL,
	[CreatedBy] [varchar](50) NULL,
	[ModifiedOn] [date] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK_Products1] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/30/2017 1:57:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Price] [int] NULL,
	[PictureName] [varchar](50) NULL,
	[CreatedOn] [date] NULL,
	[CreatedBy] [varchar](50) NULL,
	[ModifiedOn] [date] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[reply_form]    Script Date: 7/30/2017 1:57:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[reply_form](
	[name] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[website] [varchar](50) NULL,
	[message] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Shopper_Information]    Script Date: 7/30/2017 1:57:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Shopper_Information](
	[Display_Name] [varchar](50) NULL,
	[User_Name] [varchar](50) NOT NULL,
	[password] [varchar](50) NULL,
	[password2] [varchar](50) NULL,
 CONSTRAINT [PK_Shopper_Information] PRIMARY KEY CLUSTERED 
(
	[User_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Signup]    Script Date: 7/30/2017 1:57:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Signup](
	[name] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[Designation] [varchar](50) NULL,
	[password] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/30/2017 1:57:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Login] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[isAdmin] [bit] NULL,
	[isActive] [bit] NULL,
	[PictureName] [varchar](50) NULL,
	[Designation] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_Users_1] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users11]    Script Date: 7/30/2017 1:57:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users11](
	[UserID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[isAdmin] [bit] NOT NULL,
	[isActive] [bit] NOT NULL,
	[PictureName] [varchar](20) NULL,
	[Designation] [varchar](20) NULL,
	[Email] [varchar](20) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UsersTable]    Script Date: 7/30/2017 1:57:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UsersTable](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Designation] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[isActive] [bit] NULL,
	[UsersType] [int] NULL,
	[MappingId] [int] NULL,
	[PictureName] [varchar](50) NULL,
 CONSTRAINT [PK_UsersTable] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[addToCart] ON 

INSERT [dbo].[addToCart] ([cartID], [ProductID], [UserID]) VALUES (1124, 32, 1019)
INSERT [dbo].[addToCart] ([cartID], [ProductID], [UserID]) VALUES (1125, 32, 11)
INSERT [dbo].[addToCart] ([cartID], [ProductID], [UserID]) VALUES (1126, 35, 11)
SET IDENTITY_INSERT [dbo].[addToCart] OFF
SET IDENTITY_INSERT [dbo].[Bill_To] ON 

INSERT [dbo].[Bill_To] ([BillNo], [Display_Name], [User_Name], [Password], [confirm_password], [Company_Name], [Email], [Title], [First_Name], [Middle_Name], [Last_Name], [Address_1], [Address_2], [Zip], [Country], [State], [Phone1], [Phone2], [Mobile_Phone], [Fax], [message], [Shipping], [UserID], [Total]) VALUES (3, N'sssssssss', N'ssssssssssss', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'-- Country --', N'-- State / Province / Region --', N'', N'', N'', N'', N'', N'on', NULL, NULL)
INSERT [dbo].[Bill_To] ([BillNo], [Display_Name], [User_Name], [Password], [confirm_password], [Company_Name], [Email], [Title], [First_Name], [Middle_Name], [Last_Name], [Address_1], [Address_2], [Zip], [Country], [State], [Phone1], [Phone2], [Mobile_Phone], [Fax], [message], [Shipping], [UserID], [Total]) VALUES (4, N'aisha', N'aishee', N'aisha', N'aisha', N'web', N'3465', N'buy', N'aiza', N'akeel', N'khan', N'ed', N'fd', N'654', N'United States', N'UK', N'6543', N'9876', NULL, N'8765', N'give me', N'on', 4, 2900)
INSERT [dbo].[Bill_To] ([BillNo], [Display_Name], [User_Name], [Password], [confirm_password], [Company_Name], [Email], [Title], [First_Name], [Middle_Name], [Last_Name], [Address_1], [Address_2], [Zip], [Country], [State], [Phone1], [Phone2], [Mobile_Phone], [Fax], [message], [Shipping], [UserID], [Total]) VALUES (20, N'a', N'a', N'a', N'a', N'a', N'a', N'aa', N'a', N'a', N'a', N'a', N'a', N'aa', N'-- Country --', N'-- State / Province / Region --', N'a', N'a', NULL, N'aa', N'a', N'on', 8, 2000)
SET IDENTITY_INSERT [dbo].[Bill_To] OFF
INSERT [dbo].[cart] ([user_option], [single_fieldCountry], [single_field_Region], [Zip_Code]) VALUES (N'', N'', N'', N'')
INSERT [dbo].[cart] ([user_option], [single_fieldCountry], [single_field_Region], [Zip_Code]) VALUES (N'', N'', N'', N'')
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentID], [UserID], [ProductID], [CommentText], [CommentOn], [UserName], [PictureName]) VALUES (97, 2, 22, N'is there any lower price', CAST(0xFA3C0B00 AS Date), N'qw', N'user.jpg')
INSERT [dbo].[Comments] ([CommentID], [UserID], [ProductID], [CommentText], [CommentOn], [UserName], [PictureName]) VALUES (98, 2, 23, N'nice one', CAST(0xFA3C0B00 AS Date), N'qw', N'user.jpg')
INSERT [dbo].[Comments] ([CommentID], [UserID], [ProductID], [CommentText], [CommentOn], [UserName], [PictureName]) VALUES (99, 4, 22, N'Aesom', CAST(0xFA3C0B00 AS Date), N'User', N'user.jpg')
INSERT [dbo].[Comments] ([CommentID], [UserID], [ProductID], [CommentText], [CommentOn], [UserName], [PictureName]) VALUES (103, 1, 22, N'no this price iz fixed,thankx @User :)
', CAST(0xFA3C0B00 AS Date), N'Tahira', N'user.jpg')
INSERT [dbo].[Comments] ([CommentID], [UserID], [ProductID], [CommentText], [CommentOn], [UserName], [PictureName]) VALUES (109, 3, 22, N'wow
', CAST(0xFB3C0B00 AS Date), N'qw', N'user.jpg')
INSERT [dbo].[Comments] ([CommentID], [UserID], [ProductID], [CommentText], [CommentOn], [UserName], [PictureName]) VALUES (1114, 1, 24, N'user @User thanks
', CAST(0xFE3C0B00 AS Date), N'asd', N'admin.jpg')
INSERT [dbo].[Comments] ([CommentID], [UserID], [ProductID], [CommentText], [CommentOn], [UserName], [PictureName]) VALUES (1138, 1023, 24, N'niceOne
', CAST(0x1B3D0B00 AS Date), N'uneza', N'f5532032-38c2-4aab-bba4-419c724457ee.jpg')
INSERT [dbo].[Comments] ([CommentID], [UserID], [ProductID], [CommentText], [CommentOn], [UserName], [PictureName]) VALUES (1139, 1023, 24, N'niceOne
', CAST(0x1B3D0B00 AS Date), N'uneza', N'f5532032-38c2-4aab-bba4-419c724457ee.jpg')
SET IDENTITY_INSERT [dbo].[Comments] OFF
SET IDENTITY_INSERT [dbo].[contact_us] ON 

INSERT [dbo].[contact_us] ([name], [email], [subject], [message], [Contact_Id]) VALUES (N'Tayyibah', N'biba@mail.com', N'low price', N'plz give me my products at lower price', 1)
INSERT [dbo].[contact_us] ([name], [email], [subject], [message], [Contact_Id]) VALUES (N'c', N's@s.f', N'd', N'c', 2)
INSERT [dbo].[contact_us] ([name], [email], [subject], [message], [Contact_Id]) VALUES (N'c', N's@s.f', N'd', N'c', 3)
SET IDENTITY_INSERT [dbo].[contact_us] OFF
SET IDENTITY_INSERT [dbo].[feedback] ON 

INSERT [dbo].[feedback] ([email], [message], [Feedback_no]) VALUES (N'sssssss@s.s', N's@s.a', 1)
INSERT [dbo].[feedback] ([email], [message], [Feedback_no]) VALUES (N'tayyibahalauddin@yahoo.com', N'wow', 2)
SET IDENTITY_INSERT [dbo].[feedback] OFF
INSERT [dbo].[login_form] ([name], [Email_Address], [checkbox_name]) VALUES (N'beeba', N'beeba@shopper.com', 1)
SET IDENTITY_INSERT [dbo].[MappingsTable] ON 

INSERT [dbo].[MappingsTable] ([MappingId], [UserId], [ProductID], [AddToCart], [Date]) VALUES (1, 1, 1, 1, CAST(0x75250B00 AS Date))
INSERT [dbo].[MappingsTable] ([MappingId], [UserId], [ProductID], [AddToCart], [Date]) VALUES (2, 2, 2, 0, CAST(0x02270B00 AS Date))
INSERT [dbo].[MappingsTable] ([MappingId], [UserId], [ProductID], [AddToCart], [Date]) VALUES (3, 1, 2, 1, CAST(0x02270B00 AS Date))
SET IDENTITY_INSERT [dbo].[MappingsTable] OFF
INSERT [dbo].[product_details] ([name], [email], [textarea_text]) VALUES (N'beeba', N'beeba@gmail.com', N'bbbbiii')
INSERT [dbo].[product_details] ([name], [email], [textarea_text]) VALUES (N'', N'', N'')
INSERT [dbo].[product_details] ([name], [email], [textarea_text]) VALUES (N's', N'a@a.x', N's')
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [Name], [Price], [PictureName], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [isActive]) VALUES (22, N'Eye Makeup', 500, N'a86adece-ad73-4410-ab3b-931c78d61f78.jpg', CAST(0x00000000 AS Date), N'', NULL, NULL, 0)
INSERT [dbo].[Products] ([ProductID], [Name], [Price], [PictureName], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [isActive]) VALUES (23, N'Eye Maskara', 400, N'c6bae47c-d5b4-491d-99f4-fdfba3faa1d0.png', CAST(0x00000000 AS Date), N'', NULL, NULL, 0)
INSERT [dbo].[Products] ([ProductID], [Name], [Price], [PictureName], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [isActive]) VALUES (24, N'Face Powder', 2000, N'931f7a0d-77c5-473e-bd4a-cb39d41d622f.png', CAST(0x00000000 AS Date), N'', CAST(0x00000000 AS Date), N'', 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
INSERT [dbo].[reply_form] ([name], [email], [website], [message]) VALUES (N'user', N'user@shopper.com', N'myWeb', N'nice shop')
INSERT [dbo].[reply_form] ([name], [email], [website], [message]) VALUES (N'A', N'ashookhan76@gmail.com', N'za@s.c', N'z')
INSERT [dbo].[Shopper_Information] ([Display_Name], [User_Name], [password], [password2]) VALUES (N'', N'', N'', N'')
INSERT [dbo].[Shopper_Information] ([Display_Name], [User_Name], [password], [password2]) VALUES (N'q', N'q', N'q', N'q')
INSERT [dbo].[Shopper_Information] ([Display_Name], [User_Name], [password], [password2]) VALUES (N'teeba', N'TAYYIBAH', N'1234', N'1234')
INSERT [dbo].[Signup] ([name], [email], [Designation], [password]) VALUES (N'beeba', N'beeba@gmail.com', N'Lahore', N'1234')
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Name], [Login], [Password], [isAdmin], [isActive], [PictureName], [Designation], [Email]) VALUES (1, N'Admin', N'Admin', N'Admin', 1, 1, N'admin.jpg', N'Lahore', N'tayyibahalauddin@gmail.com')
INSERT [dbo].[Users] ([UserID], [Name], [Login], [Password], [isAdmin], [isActive], [PictureName], [Designation], [Email]) VALUES (2, N'Admin', N'Admin', N'1234', 1, 1, N'admin.jpg', N'Pindi', N'tayyibahalauddin@gmail.com')
INSERT [dbo].[Users] ([UserID], [Name], [Login], [Password], [isAdmin], [isActive], [PictureName], [Designation], [Email]) VALUES (3, N'Mehru', N'Mehru', N'qw', 0, 1, N'user.jpg', N'lhr', N'bsef14a011@pucit.edu.pk')
SET IDENTITY_INSERT [dbo].[Users] OFF
INSERT [dbo].[Users11] ([UserID], [Name], [Login], [Password], [isAdmin], [isActive], [PictureName], [Designation], [Email]) VALUES (1, N'asd', N'asd', N'asd', 1, 1, N'admin', N'Lahore', N'admin@mail.com')
INSERT [dbo].[Users11] ([UserID], [Name], [Login], [Password], [isAdmin], [isActive], [PictureName], [Designation], [Email]) VALUES (2, N'qw', N'qw', N'qw', 0, 1, N'user', N'Lahore', N'qw@mail.com')
INSERT [dbo].[Users11] ([UserID], [Name], [Login], [Password], [isAdmin], [isActive], [PictureName], [Designation], [Email]) VALUES (3, N'Admin', N'Admin', N'1234', 1, 1, N'admin', N'Lahore', NULL)
SET IDENTITY_INSERT [dbo].[UsersTable] ON 

INSERT [dbo].[UsersTable] ([UserId], [Login], [Password], [Designation], [Email], [isActive], [UsersType], [MappingId], [PictureName]) VALUES (1, N'Admin', N'1234', N'Lahore', N'Admin@shop.com', 1, 1, NULL, N'admin')
INSERT [dbo].[UsersTable] ([UserId], [Login], [Password], [Designation], [Email], [isActive], [UsersType], [MappingId], [PictureName]) VALUES (2, N'User', N'1234', N'PINDI', N'user@shopper.com', 1, 2, NULL, N'user')
INSERT [dbo].[UsersTable] ([UserId], [Login], [Password], [Designation], [Email], [isActive], [UsersType], [MappingId], [PictureName]) VALUES (3, N'asd', N'asd', N'asd', N'a@a.com', 1, 1, NULL, N'asd')
SET IDENTITY_INSERT [dbo].[UsersTable] OFF
ALTER TABLE [dbo].[addToCart]  WITH CHECK ADD  CONSTRAINT [FK_addToCart_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[addToCart] CHECK CONSTRAINT [FK_addToCart_Products]
GO
ALTER TABLE [dbo].[addToCart]  WITH CHECK ADD  CONSTRAINT [FK_addToCart_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[addToCart] CHECK CONSTRAINT [FK_addToCart_Users]
GO
ALTER TABLE [dbo].[Bill_To]  WITH CHECK ADD  CONSTRAINT [FK_Bill_To_Bill_To] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Bill_To] CHECK CONSTRAINT [FK_Bill_To_Bill_To]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Products]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Users]
GO
ALTER TABLE [dbo].[UsersTable]  WITH CHECK ADD  CONSTRAINT [FK_UsersTable_MappingsTable] FOREIGN KEY([MappingId])
REFERENCES [dbo].[MappingsTable] ([MappingId])
GO
ALTER TABLE [dbo].[UsersTable] CHECK CONSTRAINT [FK_UsersTable_MappingsTable]
GO
